<h1>Add Product</h1>

<div mat-dialog-content>

    <form [formGroup]="productForm">
        <div class="example-container">
            <mat-form-field appearance="fill">
              <mat-label>product Name</mat-label>
              <input formControlName="productName" matInput placeholder="Name"  required>
            </mat-form-field>
    
            <mat-form-field appearance="fill">
                <mat-label>Brand Name</mat-label>
                <input formControlName="brand" matInput placeholder="Brand">
              </mat-form-field>

              <mat-form-field appearance="fill">
                <mat-label>Image Link</mat-label>
                <input formControlName="img" matInput placeholder="img link">
              </mat-form-field>
            
            <label id="example-radio-group-label">product Category</label>
            <mat-radio-group formControlName="category" color='primary'class="example-radio-group" aria-label="Select an option">
                <mat-radio-button class="example-radio-button" value="Electronics">Electronics</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Clothes">Clothes</mat-radio-button>
                <mat-radio-button class="example-radio-button" value="Cosmtics">Cosmtics</mat-radio-button>
            </mat-radio-group>
    
        
    
            <mat-form-field appearance="fill">
                <mat-label>product Price</mat-label>
                <input formControlName="price" matInput type="number" placeholder="price"  required>
             </mat-form-field>
    
             <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Product Description</mat-label>
                <textarea formControlName="description" matInput placeholder="Your Description Here"></textarea>
              </mat-form-field> 
          </div>
        
    </form>
</div>
<div class="dialog-action" mat-dialog-actions>
    <button mat-flat-button color="primary" (click)="addProduct()">Save</button>
    <button mat-flat-button mat-dialog-close color="warn">Cancel</button>
  </div>
