<mat-toolbar color="primary">
    <div class="nav-content">

        <a mat-icon-button 
          class="example-icon"
          routerLink="/products" >
            <div class="logo">
                <mat-icon>store</mat-icon>
                <h6>Store</h6> 
            </div>
        </a>
       
       

        <div class="navigation">
            <div class="example-button-row">

                <a  routerLink="/products" mat-button >Products</a>
                <a   mat-button (click)='openDialog()'>Add Product</a>
                <a  routerLink="/edit" mat-button >edit Products</a>
               
            </div>
        </div>
   </div>
</mat-toolbar>
