<mat-toolbar color="primary">
    <div class="nav-content">

        <button mat-icon-button class="example-icon" >
            <div class="logo">
                <mat-icon>store</mat-icon>
                <h6>Store</h6> 
            </div>
        </button>
       
       

        <div class="navigation">
            <div class="example-button-row">

                <button mat-button >Products</button>
                <button mat-button (click)='openDialog()'>Add Product</button>
                <button mat-button >edit Products</button>
               
            </div>
        </div>
   </div>
</mat-toolbar>